*{
  box-sizing: border-box;
}

body {
background-image: url("assets/images/lionKingBackground.jpg");
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
width: 100%;
margin: 0;
background-position: center;
}

main {
  float: left;
  width: 78%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

aside {
  text-align: center;
  float: left;
  width: 20%;
  height: 1000px;
  font-size: 60px;
  padding: 0 2rem;
  margin: 4px;
  color: #ddf9ff;
}

  .cover-card, .bottom-card, .container-div
  {
  margin:20px;
  width: 400px;
  height: 550px;
  background-repeat: no-repeat;
 }

header {
font-size: 90px;
font-weight: bold;
text-align: center;
position: relative;
align-content: center;
margin: 10px;
color: #ddf9ff;
}

aside > div {
  height: 130px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  position: 100px right;
  border: 1px solid;
}

#modal {
  opacity: .9;
  background-color: lightgray;
  width: 700px;
  height: 350px;
  position: absolute;
  z-index: 10;
  left: 44%;
  top: 20%;
  font-size: 70px;
  justify-content: center;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;

}

#modal-button {
  color: black;
  font-size: 30px;
  width: 200px;
  height: 100px;
  border-radius: 25px;

}

.cover-card  {
  position: absolute;
  background-image: url("./assets/images/LionKingCoverPhoto.png");
  background-size: cover;
  box-shadow: 10px 10px 10px black;


}

.hyena {
  background-image: url("./assets/images/hyenas.jpeg");
}

.zazu {
  background-image: url("./assets/images/zazu.jpeg");
}

.mufasa {
  background-image: url("./assets/images/mufasa.jpeg");
}

.pumba {
  background-image: url("./assets/images/pumba.jpeg");
}

.rafiki {
  background-image: url("./assets/images/rafiki.jpeg");
}

.scar {
  background-image: url("./assets/images/scar.jpeg");
}

.simba {
  background-image: url("./assets/images/simba.jpeg");
}

.timon {
  background-image: url("./assets/images/timon.png");

}
.nala {
  background-image: url("./assets/images/nala.jpeg");

}

.bottom-card {
  background-size: contain;
  background-color: #4ec1ef;
}

.nonClickable {
  pointer-events: none;
}

/*make sure this class remains at the bottom of the CSS page*/
.hidden, .hide-modal {
display: none;
}
