body{
  position: relative;
  border: 40px double solid;
  background-color: rgba(245, 213, 186, 0.849);
  margin: auto;
}

header {
  font-size: 90px;
font-weight: bold;
text-align: center;
position: relative;
justify-content: center;
align-content: center;
border: 2px solid black;
margin: 10px;

}

aside {
  font-size: 40px;
   align-items: center;
 width: 30%;
}

aside > div {
  height: 100px;
  width: 300px;
  background-color: lightblue;
  margin: 20px;
  justify-content: center;
  align-items: center;
  position: 100px right;

}

main {
  position: relative;
  text-align: center;
}

.container {
  position: relative;
  border: 30px double black;
}


.lfz-card {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  /* background-image: url("assets\images\lfz-card.jpg"); */
  background-color: black;
  align-content: space-around;

}
